
{% extends 'base.html' %}
{% load static %}


{% block content %}

  <!-- Page Header Start -->
  <div class="container py-5 px-2 bg-primary">
    <div class="row py-5 px-4">
        <div class="col text-center text-md-left">
            <h4 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">{{post.title}}</h4>
        </div>
        <!-- <div class="col-sm-6 text-center text-md-right">
            <div class="d-inline-flex pt-2"> -->
                <!-- <h4 class="m-0 text-white"><a class="text-white" href="">Home</a></h4>
                <h4 class="m-0 text-white px-2">/</h4>
                <h4 class="m-0 text-white">{{post.title}}</h4> -->
            <!-- </div>
        </div> -->
    </div>
</div>
<!-- Page Header End -->

<!-- Blog Detail Start -->
<div class="container py-5 px-2 bg-white">
    <div class="row px-4">
        <div class="col-12" style="text-align: justify">
            <img class="img-fluid mb-4" src="{{ post.photo_main.url }}" alt="Image">
            <h4 class="mb-3 font-weight-bold">{{post.title}}</h4>
            <div class="d-flex">
                <p class="mr-3 text-muted"><i class="fa fa-calendar-alt"></i> {{post.created_at}}</p>
                <p class="mr-3 text-muted"><i class="fa fa-folder"></i>
                    {% for category in post.categories.all %}
                        {{ category.name }},
                    {% endfor %}
                </p>
                <p class="mr-3 text-muted"><i class="fa fa-comments"></i> {{total_comments}} Comments</p>
            </div>
            <p style="text-align: justify;">
                {{post.description | safe}}
            </p>
            <p>
                
            </p>
        </div>
       `
        <div class="col-12 py-4">
            <div class="btn-group btn-group-md w-100">
                {% if previous_post %}
                    <a type="button" href="{% url 'post' previous_post.pk %}" class="btn btn-outline-primary"><i class="fa fa-angle-left mr-2"></i> Previous</a>
                {% endif %}
                {% if next_post %}
                    <a type="button" href="{% url 'post' next_post.pk %}" class="btn btn-outline-primary">Next<i class="fa fa-angle-right ml-2"></i></a>
                {% endif %}
            </div> 
        </div>
        
        <div class="col-12">
            <h5 class="mb-4 font-weight-bold">Leave a comment</h5>
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'post' post.id %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="comment">{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-info">
              
            </form>
            {% else %}
                <p>Please <a href="{% url 'loginUser' %}">Login</a> or <a href="{% url 'registerUser' %}">Sign Up</a> to leave a comment.</p>
            {% endif %}

           
        </div>
        <div class="col-12 py-4">
            <h5 class="mb-4 font-weight-bold"> {{ total_comments }} Comments</h5>
            {% for comment in comments %}
                <div class="media mb-2">
                    <img src="{% static 'img/user.jpg' %}" alt="Image" class="mr-3 mt-1 rounded-circle" style="width:60px;">
                    <div class="media-body">
                        <h5> {{comment.author}} <small><i>{{comment.created_at|date:"Y-m-d"}}</i></small></h5>
                        <p>
                            {{comment.content}}
                        </p>
                        <!-- <button class="btn btn-sm btn-light">Reply</button> -->
                    </div>
                </div>
            {% empty %}
                <p>No Comments Yet!</p>
            {% endfor %}

        </div>
    </div>
</div>
<!-- Blog Detail End -->

{% endblock %}