<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <location path="." inheritInChildApplications="false">
        <appSettings>
            <!-- Required settings -->
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <!-- Your Django path -->
            <add key="PYTHONPATH" value="C:\inetpub\wwwroot\blog-main" />
            <!-- Your Django settings module -->
            <add key="DJANGO_SETTINGS_MODULE" value="blogsite.settings" />
        </appSettings>

        <system.webServer>
            <handlers>
                <add name="blog" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python37\python.exe|c:\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            </handlers>
        </system.webServer>
    </location>
    <system.web>
        <identity impersonate="true" />
    </system.web>

</configuration>
