
{% extends 'base.html' %}
{% load static %}


{% block content %}

      <!-- Contact Start -->
      <div class="container bg-white pt-5">
        <!-- <div class="row px-3 pb-2">
            <div class="col-sm-4 text-center mb-3">
                <i class="fa fa-2x fa-map-marker-alt mb-3 text-primary"></i>
                <h4 class="font-weight-bold">Address</h4>
                <p>Auckland New Zealand</p>
            </div>
            <div class="col-sm-4 text-center mb-3">
                <i class="fa fa-2x fa-phone-alt mb-3 text-primary"></i>
                <h4 class="font-weight-bold">Phone</h4>
                <p>+012 345 6789</p>
            </div>
            <div class="col-sm-4 text-center mb-3">
                <i class="far fa-2x fa-envelope mb-3 text-primary"></i>
                <h4 class="font-weight-bold">Email</h4>
                <p>info@example.com</p>
            </div>
        </div> -->
        <div class="col-md-12 pb-5">
            <div class="contact-form">
                <div class="row">
                    {% include 'partials/_alerts.html' %}
                </div>
                <form name="submitcontact" method="post" action="{% url 'submitcontact' %}" id="submitcontact">
                    {% csrf_token %}
                    <div class="control-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="8" name="message" id="message" placeholder="Message" required ></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit" id="sendMessageButton">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Contact End -->


{% endblock %}