{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="bg-light relative flex items-top justify-center min-h-screen sm:items-center py-4 sm:pt-0">

      <div class="text-center text-sm text-gray-500 sm:text-left">
          <div class="flex justify-center mt-4 sm:items-center sm:justify-between">
              <div class="flex items-center">
                  <img src="#" alt="" width="220px" >   
      
                  <h1>Welcome to <strong>Tech Blog</strong></h1>
                  <p></p>
              </div>
          </div>
      </div>
  </div>
        

    {% if page == 'register' %}
      <section id="login" class="bg-light py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <div class="card">
                <div class="card-header text-white" style="background-color: #2a4b7c;">
                  <h4 class="text-white">
                    <i class="fas fa-sign-in-alt text-white"></i> Register</h4>
                </div>
                <div class="card-body">
                  {% include 'partials/_alerts.html' %}

                  <form action="{% url 'registerUser' %}" method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form__field">
                      <label for="formInput#text">{{field.label}}</label>
                      {{ field }}
                    </div>
                    {% endfor %}
                  
                    
                    {% for error in field.errors %}
                      <p style="color: red;">{{error}}</p>
                    {% endfor %}
                    
                    <!-- <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" name="username" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" class="form-control" required>
                    </div>

                    <select class="form-control" name="user_type" id="user_type">
                        <option value="" selected disabled>Select Option</option>
                        <option value="Student">Student</option>
                        <option value="Teacher">Teacher</option>
                    </select>

                    <div class="form-group">
                      <label for="password2">Password</label>
                      <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" name="password" class="form-control" required>
                      </div> -->

                    <input type="submit" value="Register" class="btn btn-info btn-block">
                  </form>
                  <p></p>
                  
                  <p>
                    Already have anaccount <a href="{% url 'loginUser' %}">Sign In</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% else %}
      <section id="login" class="bg-light py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <div class="card">
                <div class="card-header text-white" style="background-color: #2a4b7c;">
                    <h4 class="text-white">
                        <i class="fas fa-sign-in-alt"></i> Login</h4>
                </div>
                <div class="card-body">
                  {% include 'partials/_alerts.html' %}

                  <form action="{% url 'loginUser' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" name="username" class="form-control" required>
                    </div>

                    <div class="form-group">
                      <label for="password2">Password</label>
                      <input type="password" name="password" class="form-control" required>
                    </div>

                    <input type="submit" value="Login" class="btn btn-info btn-block">
                  </form>
                  <p></p>
                  <!-- <p>
                    If you are a Teacher, Sign In here <a href="https://kidsquizapp.balaydalakay.com/admin">Teacher Login</a>
                  </p> -->
                  <p>
                    Don't have account <a href="{% url 'registerUser' %}">Sign Up</a>
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}

      <style>
        .form__field {
            margin-bottom: 20px;
        }
    
        .form__field label {
            display: block;
            margin-bottom: 5px;
        }
    
        .form__field input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .form__field select {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
      }
    

    
        .btn:hover {
            background-color: #0056b3;
        }
      </style>

{% endblock %}